In [1]:
import pandas as pd

data= pd.read_excel('Movies_data.xlsx')

In [8]:
df=pd.DataFrame(data)
df

                 Title      Genre Country  Rating  IMDb Score  Gross Revenue
0       Jurassic World     Action     USA   PG-13         7.0          10000
1            Avengeres     Action     USA   PG-13         7.5          75000
2           Inside out  Adventure     USA      PG         8.0          37770
3            Furious 7     Action     USA   PG-13         7.2          28838
4              Minious     Action     USA      PG         6.4            544
5          The Martian  Adventure     USA   PG-13         6.6            220
6            Cindrella      Drama     USA      PG         8.1           1112
7              Spectre     Action     USA   PG-13         7.0           3002
8   Mission:Impossible     Action   China   PG-13         8.0           4000
9         The Revenent  Adventure     USA  Rating         8.3          30000
10     Pitch Perfect 2     Comedy     USA   PG-13         6.0          70000
11             Ant-Man        NaN     USA   PG-13         6.5         430000
12                Home        NaN     USA   PG-13         7.0         320200
13         San Andreas        NaN     USA   PG-13         6.1         540000

In [9]:
Ratings_grater_than_6 = df[df['IMDb Score'] > 6]
Ratings_grater_than_6

                 Title      Genre Country  Rating  IMDb Score  Gross Revenue
0       Jurassic World     Action     USA   PG-13         7.0          10000
1            Avengeres     Action     USA   PG-13         7.5          75000
2           Inside out  Adventure     USA      PG         8.0          37770
3            Furious 7     Action     USA   PG-13         7.2          28838
4              Minious     Action     USA      PG         6.4            544
5          The Martian  Adventure     USA   PG-13         6.6            220
6            Cindrella      Drama     USA      PG         8.1           1112
7              Spectre     Action     USA   PG-13         7.0           3002
8   Mission:Impossible     Action   China   PG-13         8.0           4000
9         The Revenent  Adventure     USA  Rating         8.3          30000
11             Ant-Man        NaN     USA   PG-13         6.5         430000
12                Home        NaN     USA   PG-13         7.0         320200
13         San Andreas        NaN     USA   PG-13         6.1         540000

In [10]:
Ratings_grater_than_6_and_country_USA = df[  (df['IMDb Score'] > 6)  &  (df['Country']=='USA')]

Ratings_grater_than_6_and_country_USA

             Title      Genre Country  Rating  IMDb Score  Gross Revenue
0   Jurassic World     Action     USA   PG-13         7.0          10000
1        Avengeres     Action     USA   PG-13         7.5          75000
2       Inside out  Adventure     USA      PG         8.0          37770
3        Furious 7     Action     USA   PG-13         7.2          28838
4          Minious     Action     USA      PG         6.4            544
5      The Martian  Adventure     USA   PG-13         6.6            220
6        Cindrella      Drama     USA      PG         8.1           1112
7          Spectre     Action     USA   PG-13         7.0           3002
9     The Revenent  Adventure     USA  Rating         8.3          30000
11         Ant-Man        NaN     USA   PG-13         6.5         430000
12            Home        NaN     USA   PG-13         7.0         320200
13     San Andreas        NaN     USA   PG-13         6.1         540000